.icon{
  margin-top: 2px;
  color: var( --color-light-100)
}
.text{
  width: 100%;
  margin-left: 15px;
 }

.button{
  all: unset;
  cursor: pointer;
}

.primary {
  //width: 150px;
  height: 36px;
  top: 20px;
  left: 20px;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  gap: 10px;
  background: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 var(--color-accent-900);
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-100);
    background-color: var( --color-accent-900);
  }
}

.primaryIcon {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  //width: 176px;
  height: 36px;
  top: 20px;
  left: 20px;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  gap: 10px;
  background: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 var(--color-accent-900);
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-100);
    background-color: var( --color-accent-900);
  }
}


.primaryIconGrey {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  //width: 176px;
  height: 36px;
  top: 20px;
  left: 20px;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  gap: 10px;
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 var(--color-dark-500);
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-700);
  }

  &:disabled {
    color: var(--color-dark-100);
    background-color: var( --color-dark-300);
  }
}

.secondary {
  //width: 169px;
  height: 36px;
  padding: 6px 15px 6px 15px;
  border-radius: 4px;
  gap: 10px;
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 var(--color-dark-500);
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-700);
  }

  &:disabled {
    color: var(--color-dark-100);
    background-color: var( --color-dark-300);
  }
}

.tertiary {
  //width: 169px;
  height: 36px;
  top: 20px;
  left: 46px;
  padding: 8px 28px 8px 28px;
  border-radius: 4px;
  border: 1px;
  gap: 10px;
  color: var(--color-accent-100);
  background: var(--color-dark-900);
  border: 1px solid var(--color-accent-500);
  cursor: pointer;

  &:hover {
    color: var(--color-accent-100);
    background-color: var(--color-dark-100);
  }

  &:active {
    color: var(--color-accent-100);
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-700);
    background-color: var( --color-dark-900);
  }

}

.link {
  //width: 156px;
  height: 36px;
  top: 20px;
  left: 46px;
  border: 1px;
  background: var(--color-dark-900);
  &:focus{
    padding: 8px 28px 8px 28px;
    border-radius: 14px;
    border: 2px solid var(--color-accent-500);
  }
}

.fullWidth {
  width: 100%;
}