.large {
  font-size: var(--font-size-xxl);
  font-weight: var( --font-weight-bold);
  line-height: var( --line-height-l);
  letter-spacing: 0px;
  text-align: left;
}

.h1 {
  line-height: var( --line-height-l);
  letter-spacing: 0px;
  text-align: left;
}

.h2 {
  letter-spacing: 0px;
  text-align: left;
}

.h3 {
  letter-spacing: 0px;
  text-align: left;
}

.body1 {
  font-size: var(--font-size-m);
  font-weight: var( --font-weight-regular);
  line-height: var( --line-height-m);
  letter-spacing: 0em;
  text-align: right;
}

.subtitle1 {
  font-size: var(--font-size-m);
  font-weight: var( --font-weight-bold);
  line-height: var( --line-height-m);
  letter-spacing: 0em;
  text-align: left;
}

.body2 {
  font-size: var(--font-size-s);
  font-weight: var( --font-weight-regular);
  line-height: var( --line-height-m);
  letter-spacing: 0em;
  text-align: left;
}

.subtitle2 {
  font-size: var(--font-size-s);
  font-weight: var( --font-weight-bold);
  line-height: var( --line-height-m);
  letter-spacing: 0em;
  text-align: left;
}

.caption {
  font-size: var(--font-size-xs);
  font-weight: var( --font-weight-regular);
  line-height: var( --line-height-s);
  letter-spacing: 0em;
  text-align: left;

}

.overline {
  font-size: var(--font-size-xs);
  font-weight: var( --font-weight-bold);
  line-height: var( --line-height-s);
  letter-spacing: 0em;
  text-align: left;
}

.link1 {
  font-size: var(--font-size-s);
  font-weight: var( --font-weight-regular);
  line-height: var( --line-height-m);
  letter-spacing: 0em;
  text-align: left;
}

.link2 {
  font-size: var(--font-size-sx);
  font-weight: var( --font-weight-regular);
  line-height: var( --line-height-s);
  letter-spacing: 0em;
  text-align: left;
}