
.container{
  display: flex;
  justify-content: space-around;
  width: 284px;
  height: 36px;
  background-color: var(--color-dark-900);
  border: 2px solid var(--color-dark-100);
  color: var(--color-dark-100);

  &:hover {
    background-color: var(--color-dark-500);
    border: 2px solid var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-light-100);
  }
}

.containerDisabled{
    background-color: var(--color-dark-700);
    border: 2px solid var(--color-dark-500);
}
.containerFocus{
  background-color: var(--color-dark-900);
  border: 2px solid var(--color-info-700);
}

.main {
  height: 33px;
  width: 242px;
  border: none;
  outline: none;
  background-color: var(--color-dark-900);

  &:hover {
    border: none;
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-dark-900);
  }

  &:disabled {
      border: none;
  }
}


.colorDefault {
  border: 2px solid var(--color-dark-900);
  color: var(--color-dark-100);

  &:focus {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-dark-900);
  }

  &:active {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-dark-900);
  }

  &:disabled {
    background-color: var(--color-dark-700);
    //border: 2px solid var(--color-dark-900);
  }
}

.colorError {
  background-color: var(--color-dark-900);
  border: 2px solid var(--color-danger-500);
  color: var( --color-danger-300);
  &:focus {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-danger-500);
  }

  &:active {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-danger-500);
  }

  &:disabled {
    background-color: var(--color-danger-900);
    border: 2px solid var(--color-danger-500);
  }
}
