//.basic {
//  width: 420px;
//  height: 552px;
//  top: 95px;
//  left: 44px;
//  background-color: var(--color-dark-700);
//}

root {
  background: var(--color-dark-700);
  border-radius: 1px;
  box-shadow:
          -1px -1px 2px rgba(0, 0, 0, 0.1),
          1px 1px 2px rgba(0, 0, 0, 0.1);
}